
/* bgc */
body {
    text-align: center;
    margin: 10px;
    background-color: black;
    padding-left: 0;
    margin-top: 5px;
    padding-top: 10px;
    box-sizing: border-box;
}
/* site headline */
#h1 {
    border-radius: 15px;
    height: 100px;
    padding-top: 10px;
    padding-bottom: 15px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(20px);
    color: white;
    margin: 0;
    box-shadow: 0px 0px 17px rgb(54, 56, 59);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* stars */
.s {
    top: 100px;
    left: 125px;
    animation: star 2s ease-in-out 1s infinite;
}
.s1 {
    top: 400px;
    left: 1000px;
    animation: star 1s ease-in-out 3s infinite;
}
.s2 {
    top: 200px;
    left: 100px;
    animation: star 3s ease-in-out 2s infinite;
}
.s3 {
    top: 250px;
    left: 150px;
    animation: star 2s ease-in-out 3.5s infinite;
}
.s4 {
    top: 11px;
    left: 100px;
    animation: star 3s ease-in-out 1s infinite;
}
.s5 {
    top: 300px;
    left: 270px;
    animation: star 1s ease-in-out 3ms infinite;
}
.s6 {
    top: 20px;
    left: 230px;
    animation: star 2s ease-in-out 6s infinite;
}
.s7 {
    top: 200px;
    left: 500px;
    animation: star 1s ease-in-out 4s infinite;
}
.s8 {
    top: 30px;
    left: 600px;
    animation: star 3s ease-in-out 2.2s infinite;
}
.s9 {
    top: 600px;
    left: 600px;
    animation: star 1s ease-in-out 1.4s infinite;
}
.s10 {
    top: 500px;
    left: 550px;
    animation: star 3.5s ease-in-out 1s infinite;
}
.s11 {
    top: 40px;
    left: 100px;
    animation: star 2.4s ease-in-out 2s infinite;
}
.s12 {
    top: 200px;
    left: 10px;
    animation: star 1s ease-in-out 2s infinite;
}
.s13 {
    top: 400px;
    left: 15px;
    animation: star 2.5s ease-in-out 1s infinite;
}
.s14 {
    top: 235px;
    left: 25px;
    animation: star 2s ease-in-out 2s infinite;
}
.s15 {
    top: 20px;
    left: 10px;
    animation: star 1.5s ease-in-out 1s infinite;
}
.s16 {
    top: 500px;
    left: 100px;
    animation: star 5s ease-in-out 1s infinite;
}
.s17 {
    top: 400px;
    left: 200px;
    animation: star 4s ease-in-out 1.9s infinite;
}
.s18 {
    top: 50px;
    left: 500px;
    animation: star 2.5s ease-in-out 2s infinite;
}
.s19 {
    top: 200px;
    left: 10px;
    animation: star 3s ease-in-out 2s infinite;
}
.s20 {
    top: 600px;
    left: 120px;
    animation: star 5s ease-in-out 1s infinite;
}
.s21 {
    top: 40rem;
    left: 50px;
    animation: star 8s ease-in-out 2s infinite;
}
.s22 {
    top: 30rem;
    left: 599px;
    animation: star 3s ease-in-out 1s infinite;
}
.s23 {
    top: 40rem;
    left: 50px;
    animation: star 1s ease-in-out 2s infinite;
}
.s24 {
    top: 500px;
    left: 320px;
    animation: star 9s ease-in-out 4s infinite;
}
.s25 {
    top: 355px;
    left: 320px;
    animation: star 6s ease-in-out 2s infinite;
}
.s26 {
    top: 200px;
    left: 350px;
    animation: star 12ms ease-in-out 2s infinite;
}
.s27 {
    top: 300px;
    left: 40rem;
    animation: star 8s ease-in-out 3s infinite;
}
.s28 {
    top: 300px;
    left: 450px;
    animation: star 3s ease-in-out 2.5s infinite;
}
.s29 {
    top: 600px;
    left: 400px;
    animation: star 2s ease-in-out 1s infinite;
}
.s30 {
    top: 400px;
    left: 500px;
    animation: star 3s ease-in-out 2s infinite;
}
.s31 {
    top: 500px;
    left: 320px;
    animation: star 12s ease-in-out 2s infinite;
}
.s32 {
    top: 500px;
    left: 1000px;
    animation: star 12s ease-in-out 3s infinite;
}
.s33 {
    top: 50px;
    left: 1000px;
    animation: star 1s ease-in-out 3s infinite;
}
.s34 {
    top: 212px;
    left: 1000px;
    animation: star 2s ease-in-out 2.7s infinite;
}
.s35 {
    top: 100px;
    left: 1111px;
    animation: star 1s ease-in-out 8s infinite;
}
.s36 {
    top: 40px;
    left: 11234px;
    animation: star 3s ease-in-out 9s infinite;
}
.s37 {
    top: 40px;
    left: 1300px;
    animation: star 4s ease-in-out 1s infinite;
}
.s38 {
    top: 70px;
    left: 1223px;
    animation: star 1.5s ease-in-out 8ms infinite;
}
.s39 {
    top: 600px;
    left: 1664px;
    animation: star 2s ease-in-out 100ms infinite;
}
.s40 {
    top: 220px;
    left: 1234px;
    animation: star 1s ease-in-out 0s infinite;
}
.s41 {
    top: 300px;
    left: 1153px;
    animation: star 1s ease-in-out 1s infinite;
}
.s42 {
    top: 367px;
    left: 1300px;
    animation: star 1.5s ease-in-out 0s infinite;
}
.s43 {
    top: 450px;
    left: 1189px;
    animation: star 3s ease-in-out 2s infinite;
}
.s44 {
    top: 40px;
    left: 11234px;
    animation:star 1ms ease-in-out 2s infinite;
}
.s45 {
    top: 800px;
    left: 1414px;
    animation: star 1ms ease-in-out 0.5s infinite;
}
.s46 {
    top: 600px;
    left: 1434px;
    animation: star 1s ease-in-out 1ms infinite;
}
.s47 {
    top: 90px;
    left: 870px;
    animation: star 1s ease-in-out 0.5s infinite;
}
.s48 {
    top: 200px;
    left: 870px;
    animation: star 3s ease-in-out 0.5s infinite;
}
.s49 {
    top: 300px;
    left: 860px;
    animation: star 2ms ease-in-out 0.5s infinite;
}
.s50 {
    top: 500px;
    left: 870px;
    animation: star 3ms ease-in-out 0.5s infinite;
}
.s51 {
    top: 120px;
    left: 780px;
    animation: star 4ms ease-in-out 1s infinite;
}
.s52 {
    top: 600px;
    left: 840px;
    animation: star 1s ease-in-out 0.5s infinite;
}
.s53 {
    top: 400px;
    left: 770px;
    animation: star 2s ease-in-out 0.5s infinite;
}
.s54 {
    top: 500px;
    left: 700px;
    animation: star 5s ease-in-out 4ms infinite;
}
.s55 {
    top: 500px;
    left: 1888px;
    animation: star 6s ease-in-out 4s infinite;
}
.s56 {
    top: 480px;
    left: 1460px;
    animation: star 1s ease-in-out 4ms infinite;
}
.s57 {
    top: 170px;
    left: 1400px;
    animation: star 3.5s ease-in-out 1s infinite;
}
.s58 {
    top: 400px;
    left: 1500px;
    animation: star 1s ease-in-out 3s infinite;
}
.s59 {
    top: 600px;
    left: 1200px;
    animation: star 2ms ease-in-out 3s infinite;
}
.s60 {
    top:150px;
    left: 1300px;
    animation: star 3s ease-in-out 2s infinite;
}
.star {
    background-color: white;
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    animation-direction: alternate;
}
@keyframes star {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.nav {
    animation: none;
    color: white;
    border: 5px solid rgba(48, 0, 110, 0.57);
    width: 100px;
    border-radius: 25px;
    box-shadow: 0px 0px 7px rgb(44, 1, 93);
    position: fixed;
    top: 110px;
    background-image: linear-gradient(to top, rgba(15, 14, 15, 0.579), rgba(10, 0, 64, 0.366));
    text-align: left;
    height: 550px;
    padding: 10px;
    box-sizing: border-box;
    left: 25px;
}
ol {
    list-style-type: none;
    display: inline;
}
li {
    margin-left: 0;
    padding-bottom: 15px;
    text-align: center;
}
h2 {
    border: 3px solid hsl(260, 51%, 44%);
    color: rgb(255, 255, 255);
    width: 100px;
    margin-left: 190px;
    border-radius: 100px;
    background-image: linear-gradient(to right, rgb(126, 15, 126), hsla(260, 76%, 28%, 0.652));
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(25px);
    box-shadow: 0px 0px 10px hsl(260, 51%, 44%);
    margin-top: 40px;
}
p {
    color: rgb(0, 0, 0);
    font-size: 15px;
    border: 5px solid rgba(147, 147, 148, 0.625);
    text-align: center;
    background-color: rgb(75, 79, 82);
    box-shadow: 0px 0px 17px rgb(84, 87, 92);
    border-radius: 15px;
    width: auto;
    margin-left: 145px;
    margin-top: 20px;
    padding-bottom: 2px;
}
img {
    opacity: 0.8;
    width: 200px;
    margin-left: 30px;
}
.zohale {
    opacity: 0.8;
    width: 300px;
    margin-left: 30px;
}
.snav {
    width: 30px;
    height: 30px;
    margin: 0;
    padding-left: 0;
    border: 2px solid rgba(48, 0, 110, 0.57);
    border-radius: 10px;

}
html {
    scroll-behavior: smooth;
}
li img:hover {
    width: 35px;
    height: 35px;
    border: 2px solid rgba(255, 243, 7, 0.703);
    border-radius: 12px;
    box-shadow: 0px 0px 5px rgba(255, 234, 100, 0.815);
}

.دکمه {
    border: 5px solid rgba(48, 0, 110, 0.57);
    background-color: blueviolet;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    width: 40px;
    position: sticky;
    left: 1460px;
    box-shadow: 0px 0px 5px rgb(124, 124, 125);

}

.دکمه:visited {
    border: 5px solid rgba(85, 84, 86, 0.707);
    background-color: rgba(118, 117, 118, 0.458);
    text-decoration: none;
    color: rgb(251, 249, 255);
    border-radius: 10px;
    width: 40px;
    position: sticky;
    left: 1460px;
    box-shadow: 0px 0px 5px rgb(138, 138, 138);


}

.دکمه:hover {
    border: 5px solid rgba(159, 96, 240, 0.57);
    background-color: rgba(141, 37, 238, 0.458);
    text-decoration: none;
    color: rgb(8, 1, 25);
    border-radius: 10px;
    width: 60px;
    position: sticky;
    left: 1460px;
    box-shadow: 0px 0px 5px rgb(204, 156, 248);
}

.دکمه:active {
    border: 7px solid rgba(0, 0, 0, 0.57);
    background-color: rgb(126, 125, 127);
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    width: 60px;
    position: sticky;
    left: 1460px;
    box-shadow: 0px 0px 10px rgb(115, 113, 116);
}
