/* bgc */
body{
    text-align: center;
    margin: 10px;
    background-color: black;
    padding-left: 0;
    position: relative;
}
/* title */
.title{
    color: white;
    font-size: x-large;
}
/* button */
.page2{
    top: -60px;
    animation: none;
    border: solid 1px white;
    width: 25rem;
    height: 2rem;
    border-radius: 1rem;
    position: relative;
    left: -4rem;
    transition: 0.6s;
}
.page2:hover{
    box-shadow: 0px 0px 10px rgb(199, 228, 255);
    /* filter: drop-shadow(0px 0px 10px rgb(199, 228, 255)); */
    transition: 0.6s;
}
.information{
    position: absolute;
    background: none;
    color: white;
    border: white 1px solid;
    border-radius: 20px;
    right: 0px;
    height: 2rem;
    transition: 0.5s;
    cursor: pointer;
}
.information:hover{
    transition: 0.5s;
    color: black;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(199, 228, 255);
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: black;
}
/* planets */
.planets{
    position: relative;
    animation: none;
}
.S{
    animation: none;
}
.Sun{
    position: absolute;
    top: -50px;
    left: -20rem;
    height: 29rem;
    transition: 0.5s;
} 
.Sun:hover{
    scale: 1.1;
    filter: drop-shadow(0px 0px 50px rgb(180, 87, 0));
}
.Mercury{
    position: absolute;
    top: 270px;
    left: 10rem;
    height: 3rem;
    transition: 0.5s;
}
.Mercury:hover{
    scale: 1.5;
    filter: drop-shadow(0px 0px 10px rgb(255, 124, 2));
}
.Venus{
    position: absolute;
    top: 130px;
    left: 15rem;
    height: 3rem;
    transition: 0.5s;
}
.Venus:hover{
    scale: 1.5;
    filter: drop-shadow(0px 0px 10px rgb(255, 81, 0));
}
.Earth{
    position: absolute;
    top: 190px;
    left: 22rem;
    height: 6rem;
    transition: 0.5s;
}
.Earth:hover{
    scale: 1.3;
    filter: drop-shadow(0px 0px 10px rgb(0, 132, 255));
}
.Moon{
    position: absolute;
    top: 17rem;
    left: 27rem;
    height: 2rem;
    transition: 0.5s;
}
.Moon:hover{
    scale: 1.3;
    filter: drop-shadow(0px 0px 10px rgb(199, 228, 255));
}
.Mars{
    position: absolute;
    top: 7rem;
    left: 32rem;
    height: 4.6rem;
    transition: 0.5s;
}
.Mars:hover{
    scale: 1.3;
    filter: drop-shadow(0px 0px 10px rgb(255, 82, 1));
}
.Jupiter{
    position: absolute;
    top: 19.2rem;
    left: 38rem;
    height: 7.6rem;
    transition: 0.5s;
}
.Jupiter:hover{
    scale: 1.3;
    filter: drop-shadow(0px 0px 10px rgb(253, 132, 76));
}
.Saturn{
    position: absolute;
    top: 8.2rem;
    left: 45rem;
    height: 6.2rem;
    transition: 0.5s;
    cursor: pointer;
}
.Saturn:hover{
    scale: 1.3;
    filter: drop-shadow(0px 0px 10px rgb(255, 158, 94));
}
.Uranus{
    position: absolute;
    top: 16.2rem;
    left: 53rem;
    height: 2.5rem;
    transition: 0.5s;
}
.Uranus:hover{
    scale: 1.3;
    filter: drop-shadow(0px 0px 10px rgb(90, 203, 255));
}
.Neptune{
    position: absolute;
    top: 10.2rem;
    left: 55rem;
    height: 2.5rem;
    transition: 0.5s;
}
.Neptune:hover{
    scale: 1.3;
    filter: drop-shadow(0px 0px 10px rgb(0, 153, 255));
}
.p:hover{
    transition: 0.5s;
    cursor: pointer;
    border-radius: 50%;
}
.infop{
    position: relative;
    border: none;
    height: 20rem;
    width: 19rem;
    left: 65rem;
    top: -5rem;
    border-radius: 10%;
    overflow: hidden;
    transition: 0.4s;
    cursor: pointer;
}
.infop:hover{
    transition: 0.4s;
    filter: drop-shadow(0px 0px 10px rgb(0, 132, 255));
    scale: 1.04;
}
.probe{
    position: absolute;
    height: 20rem;
    width: 19rem;
    left: 0rem;
}
/* Made */
.Made{
    position: absolute;
    color: white;
    top: 35rem;
    left: 38rem;
    opacity: 0.3;
}
/* stars */
.s {
    top: 100px;
    left: 125px;
    animation: star 2s ease-in-out 1s infinite;
}
.s1 {
    top: 400px;
    left: 1000px;
    animation: star 1s ease-in-out 3s infinite;
}
.s2 {
    top: 200px;
    left: 100px;
    animation: star 3s ease-in-out 2s infinite;
}
.s3 {
    top: 250px;
    left: 150px;
    animation: star 2s ease-in-out 3.5s infinite;
}
.s4 {
    top: 11px;
    left: 100px;
    animation: star 3s ease-in-out 1s infinite;
}
.s5 {
    top: 300px;
    left: 270px;
    animation: star 1s ease-in-out 3ms infinite;
}
.s6 {
    top: 20px;
    left: 230px;
    animation: star 2s ease-in-out 6s infinite;
}
.s7 {
    top: 200px;
    left: 500px;
    animation: star 1s ease-in-out 4s infinite;
}
.s8 {
    top: 30px;
    left: 600px;
    animation: star 3s ease-in-out 2.2s infinite;
}
.s9 {
    top: 600px;
    left: 600px;
    animation: star 1s ease-in-out 1.4s infinite;
}
.s10 {
    top: 500px;
    left: 550px;
    animation: star 3.5s ease-in-out 1s infinite;
}
.s11 {
    top: 40px;
    left: 100px;
    animation: star 2.4s ease-in-out 2s infinite;
}
.s12 {
    top: 200px;
    left: 10px;
    animation: star 1s ease-in-out 2s infinite;
}
.s13 {
    top: 400px;
    left: 15px;
    animation: star 2.5s ease-in-out 1s infinite;
}
.s14 {
    top: 235px;
    left: 25px;
    animation: star 2s ease-in-out 2s infinite;
}
.s15 {
    top: 20px;
    left: 10px;
    animation: star 1.5s ease-in-out 1s infinite;
}
.s16 {
    top: 500px;
    left: 100px;
    animation: star 5s ease-in-out 1s infinite;
}
.s17 {
    top: 400px;
    left: 200px;
    animation: star 4s ease-in-out 1.9s infinite;
}
.s18 {
    top: 50px;
    left: 500px;
    animation: star 2.5s ease-in-out 2s infinite;
}
.s19 {
    top: 200px;
    left: 10px;
    animation: star 3s ease-in-out 2s infinite;
}
.s20 {
    top: 600px;
    left: 120px;
    animation: star 5s ease-in-out 1s infinite;
}
.s21 {
    top: 40rem;
    left: 50px;
    animation: star 8s ease-in-out 2s infinite;
}
.s22 {
    top: 30rem;
    left: 599px;
    animation: star 3s ease-in-out 1s infinite;
}
.s23 {
    top: 40rem;
    left: 50px;
    animation: star 1s ease-in-out 2s infinite;
}
.s24 {
    top: 500px;
    left: 320px;
    animation: star 9s ease-in-out 4s infinite;
}
.s25 {
    top: 355px;
    left: 320px;
    animation: star 6s ease-in-out 2s infinite;
}
.s26 {
    top: 200px;
    left: 350px;
    animation: star 12ms ease-in-out 2s infinite;
}
.s27 {
    top: 300px;
    left: 40rem;
    animation: star 8s ease-in-out 3s infinite;
}
.s28 {
    top: 300px;
    left: 450px;
    animation: star 3s ease-in-out 2.5s infinite;
}
.s29 {
    top: 600px;
    left: 400px;
    animation: star 2s ease-in-out 1s infinite;
}
.s30 {
    top: 400px;
    left: 500px;
    animation: star 3s ease-in-out 2s infinite;
}
.s31 {
    top: 500px;
    left: 320px;
    animation: star 12s ease-in-out 2s infinite;
}
.s32 {
    top: 500px;
    left: 1000px;
    animation: star 12s ease-in-out 3s infinite;
}
.s33 {
    top: 50px;
    left: 1000px;
    animation: star 1s ease-in-out 3s infinite;
}
.s34 {
    top: 212px;
    left: 1000px;
    animation: star 2s ease-in-out 2.7s infinite;
}
.s35 {
    top: 100px;
    left: 1111px;
    animation: star 1s ease-in-out 8s infinite;
}
.s36 {
    top: 40px;
    left: 11234px;
    animation: star 3s ease-in-out 9s infinite;
}
.s37 {
    top: 40px;
    left: 1300px;
    animation: star 4s ease-in-out 1s infinite;
}
.s38 {
    top: 70px;
    left: 1223px;
    animation: star 1.5s ease-in-out 8ms infinite;
}
.s39 {
    top: 600px;
    left: 1664px;
    animation: star 2s ease-in-out 100ms infinite;
}
.s40 {
    top: 220px;
    left: 1234px;
    animation: star 1s ease-in-out 0s infinite;
}
.s41 {
    top: 300px;
    left: 1153px;
    animation: star 1s ease-in-out 1s infinite;
}
.s42 {
    top: 367px;
    left: 1300px;
    animation: star 1.5s ease-in-out 0s infinite;
}
.s43 {
    top: 450px;
    left: 1189px;
    animation: star 3s ease-in-out 2s infinite;
}
.s44 {
    top: 40px;
    left: 11234px;
    animation:star 1ms ease-in-out 2s infinite;
}
.s45 {
    top: 800px;
    left: 1414px;
    animation: star 1ms ease-in-out 0.5s infinite;
}
.s46 {
    top: 600px;
    left: 1434px;
    animation: star 1s ease-in-out 1ms infinite;
}
.s47 {
    top: 90px;
    left: 870px;
    animation: star 1s ease-in-out 0.5s infinite;
}
.s48 {
    top: 200px;
    left: 870px;
    animation: star 3s ease-in-out 0.5s infinite;
}
.s49 {
    top: 300px;
    left: 860px;
    animation: star 2ms ease-in-out 0.5s infinite;
}
.s50 {
    top: 500px;
    left: 870px;
    animation: star 3ms ease-in-out 0.5s infinite;
}
.s51 {
    top: 120px;
    left: 780px;
    animation: star 4ms ease-in-out 1s infinite;
}
.s52 {
    top: 600px;
    left: 840px;
    animation: star 1s ease-in-out 0.5s infinite;
}
.s53 {
    top: 400px;
    left: 770px;
    animation: star 2s ease-in-out 0.5s infinite;
}
.s54 {
    top: 500px;
    left: 700px;
    animation: star 5s ease-in-out 4ms infinite;
}
.s55 {
    top: 500px;
    left: 1888px;
    animation: star 6s ease-in-out 4s infinite;
}
.s56 {
    top: 480px;
    left: 1460px;
    animation: star 1s ease-in-out 4ms infinite;
}
.s57 {
    top: 170px;
    left: 1400px;
    animation: star 3.5s ease-in-out 1s infinite;
}
.s58 {
    top: 400px;
    left: 1500px;
    animation: star 1s ease-in-out 3s infinite;
}
.s59 {
    top: 600px;
    left: 1200px;
    animation: star 2ms ease-in-out 3s infinite;
}
.s60 {
    top:150px;
    left: 1300px;
    animation: star 3s ease-in-out 2s infinite;
}
.star {
    background-color: white;
    position: fixed;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    animation-direction: alternate;
}
@keyframes star {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
